*{

    margin: 0;
    padding: 0;
}
.navigation{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 128, 0.781);
    padding: 8px 200px;
    border-bottom: 1px solid gray;
}

.navigation ul{

    display: flex;
}
.navigation ul li{

    list-style: none;
}
.navigation ul li a{

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.5s;
}
.navigation ul li a:hover{

    background-color: black;
    border-radius: 5px;
    color: red;
}
.for-logo h2{

    color: white;

}
.header-main{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/website\ banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
   
    
}
.header-main input{

    width: 400px;
    height: 25px;
    font-size: 20px;
    padding-left: 5px;
    
}
.for-icon{

    background-color: rgba(0, 128, 0, 0.836);
    color: red;
    font-size: 15px;
    margin-left: -2px;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main section code start */
main{

    background-color: #2D236A;
    padding-top: 20px;
    
}
.main-section{

    width: 1100px;
    margin: 0 auto;
    padding: 50px 0px;
}
.latest-video-parent{

    display: flex;
    justify-content: space-between;
}
.latest-video-logo{

    color: rgb(0, 128, 0);
    font-size: 20px;
}
.page-font{

    color: rgb(0, 128, 0);
    font-size: 18px;
}
.page-font span{

    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid #80805D;
    cursor: pointer;
}

.Card-parent-div{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    margin-top: 25px;

}
.single-card-div{
   height: 200px;
   border: 3px solid gray;
}
.single-card-div img{

    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
    
}
.single-card-div:hover img{

    transform: scale(1.1);
    border-radius: 25px;
    


}
.single-card-div div{

    display: flex;
    justify-content: space-between;
    color: gray;
    margin-top: 10px;
}

/* Previous next code start here */

.previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.previous-next-parent h3 a{

        background-color: #04AA6D;
        padding: 10px 25px;
        border-radius: 5px;
        transition: 0.5s;
}

.previous-next-parent h3 a:hover{

    background-color: #04aa6dbb;

}

.previous-next-parent a{

    text-decoration: none;
    color: white;
}
.previous-next-parent div a{

    margin: 0 10px;
    background-color: antiquewhite;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.664);
}
.previous-next-parent div  a:first-child{

    background-color: green;
    color: white;
}