*{

    margin: 0;
    padding: 0;
}
.navigation{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 128, 0.781);
    padding: 8px 200px;
    border-bottom: 1px solid gray;
}

.navigation ul{

    display: flex;
}
.navigation ul li{

    list-style: none;
}
.navigation ul li a{

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 12px;
    transition: 0.5s;
}
.navigation ul li a:hover{

    background-color: black;
    border-radius: 5px;
    color: red;
}
.for-logo h2{

    color: white;

}
.header-main{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/website\ banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
   
    
}
.header-main input{

    width: 400px;
    height: 25px;
    font-size: 20px;
    padding-left: 5px;
    
}
.for-icon{

    background-color: rgba(0, 128, 0, 0.836);
    color: red;
    font-size: 15px;
    margin-left: -2px;
    border-radius: 2px;
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main section code start */
main{

    background-color: #2D236A;
    padding-top: 20px;
    
}
.main-section{

    width: 1100px;
    margin: 0 auto;
    padding: 50px 0px;
}
.latest-video-parent{

    display: flex;
    justify-content: space-between;
}
.latest-video-logo{

    color: rgb(0, 128, 0);
    font-size: 20px;
}
.page-font{

    color: rgb(0, 128, 0);
    font-size: 20px;
}
.page-font span{

    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 1px solid #80805D;
    cursor: pointer;
}

